openapi: 3.0.0
info:
  title: main-api
  description: |
    Testing API
  version: "2019"
servers:
- url: https://sandbox.seamlesspay.com
- url: https://sandbox-pan-vault.seamlesspay.com
paths:
  /v1/charge:
    get:
      tags:
      - Charge
      summary: List Charges
      operationId: List Charges
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                  - id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                    amount: "1.00"
                    apiKey: sk_01C043F2241X7WM7MTZKB5822N
                    authCode: A11111
                    adjustments:
                    - id: ADJ_01BBEBNMZ7VYYMADN9MJ3RDAJM
                      amount: "105.00"
                      tip: "1.00"
                      taxAmount: "5.00"
                      surchargeFeeAmount: "1.00"
                    avsMessage: "street match, zip decline"
                    avsResult: "SM, ZD"
                    cvvResult: M
                    currency: USD
                    cardBrand: Visa
                    cardType: Credit
                    expDate: string
                    ipAddress: 192.168.0.1
                    lastFour: "1000"
                    method: charge
                    order:
                      shipToZip: 11111-1111
                      shipFromZip: 99999-9999
                      items:
                      - discountAmount: "9.00"
                        unitCost: "2.00"
                        unitOfMeasure: CS
                        lineNumber: "1"
                        description: DESCRIPTION-1
                        taxAmount: "109.00"
                        quantity: "1000"
                        upc: UPC-1
                        lineTotal: "2000.00"
                        taxExempt: true
                        taxRate: "0.025"
                    refunds:
                    - id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                      amount: "1.00"
                      apiKey: sk_01C043F2241X7WM7MTZKB5822N
                      authCode: A11111
                      currency: USD
                      cardBrand: Visa
                      cardType: Credit
                      metadata:
                        customOption: example
                      ipAddress: 192.168.0.1
                      lastFour: "1000"
                      method: refund
                      status: REFUNDED
                      statusCode: refunded
                      statusDescription: Transaction refund success
                      token: TKN_01BMFGDTK30EYH9FWTXPYR50
                      txnDate: 2022-01-06T09:22:31Z
                      updatedAt: 2017-12-15T19:08:18.262Z
                      createdAt: 2017-12-15T19:08:18.262Z
                    status: AUTHORIZED
                    statusCode: approved
                    statusDescription: Transaction approved
                    surchargeFeeAmount: "1.00"
                    token: TKN_01BMFGDTK30EYH9FWTXPYR50
                    tip: "1.00"
                    txnDate: 2022-01-06T09:22:31Z
                    updatedAt: 2017-12-15T19:08:18.262Z
                    createdAt: 2017-12-15T19:08:18.262Z
                  pagination:
                    count: 10
                    page: 1
                    pages: 2
                    size: 19
                  total: 0
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Charge
    post:
      tags:
      - Charge
      summary: Create a Charge
      operationId: Create a Charge
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example:
              amount: "105.00"
              capture: false
              order:
                shipToZip: 11111-1111
                shipFromZip: 99999-9999
                items:
                - discountAmount: "20.00"
                  unitCost: "10.00"
                  unitOfMeasure: CS
                  lineNumber: "1"
                  description: DESCRIPTION-1
                  taxAmount: "5.00"
                  quantity: "12"
                  upc: UPC-1
                  lineTotal: "105.00"
                  taxExempt: false
                  taxRate: "0.05"
              currency: USD
              token: TKN_01BMFGDTK30EYH9FWTXPYR50
              idempotencyKey: 7c62e63ab7fb6d10166b70945dc48b52
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
              examples:
                CAPTURED:
                  value:
                    id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                    amount: "105.00"
                    apiKey: sk_01C043F2241X7WM7MTZKB5822N1
                    authCode: A11111
                    method: charge
                    order:
                      shipToZip: 11111-1111
                      shipFromZip: 99999-9999
                      items:
                      - discountAmount: "20.00"
                        unitCost: "10.00"
                        unitOfMeasure: CS
                        lineNumber: "1"
                        description: DESCRIPTION-1
                        taxAmount: "5.00"
                        quantity: "12"
                        upc: UPC-1
                        lineTotal: "105.00"
                        taxExempt: false
                        taxRate: "0.05"
                    avsMessage: "street match, zip decline"
                    avsResult: "SM, ZD"
                    currency: USD
                    ipAddress: 192.168.0.1
                    token: TKN_01BMFGDTK30EYH9FWTXPYR50
                    statusDescription: Transaction capture success
                    cardBrand: Visa
                    lastFour: "1000"
                    statusCode: captured
                    status: CAPTURED
                    batch: BCH_01D8JSWWW3YQ1N8FCSKZ6Z8GDR
                    surchargeFeeAmount: "1.00"
                    tip: "1.00"
                    cvvResult: M
                    cardType: Credit
                    txnDate: 2020-02-24T19:43:12.730Z
                    updatedAt: 2020-02-24T19:43:12.730Z
                    createdAt: 2020-02-24T19:43:12.730Z
                AUTH:
                  value:
                    id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                    amount: "105.00"
                    apiKey: sk_01C043F2241X7WM7MTZKB5822N1
                    authCode: A11111
                    method: charge
                    order:
                      shipToZip: 11111-1111
                      shipFromZip: 99999-9999
                      items:
                      - discountAmount: "20.00"
                        unitCost: "10.00"
                        unitOfMeasure: CS
                        lineNumber: "1"
                        description: DESCRIPTION-1
                        taxAmount: "5.00"
                        quantity: "12"
                        upc: UPC-1
                        lineTotal: "105.00"
                        taxExempt: false
                        taxRate: "0.05"
                    avsMessage: "street match, zip decline"
                    avsResult: "SM, ZD"
                    currency: USD
                    ipAddress: 192.168.0.1
                    token: TKN_01BMFGDTK30EYH9FWTXPYR50
                    statusDescription: Transaction approved
                    cardBrand: Visa
                    lastFour: "1000"
                    statusCode: approved
                    status: AUTHORIZED
                    surchargeFeeAmount: "1.00"
                    tip: "1.00"
                    cvvResult: M
                    cardType: Credit
                    txnDate: 2020-02-24T19:43:12.730Z
                    updatedAt: 2020-02-24T19:43:12.730Z
                    createdAt: 2020-02-24T19:43:12.730Z
                GIFT_CARD:
                  value:
                    id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                    amount: "105.00"
                    apiKey: sk_01C043F2241X7WM7MTZKB5822N1
                    authCode: A11111
                    method: charge
                    avsMessage: "street match, zip decline"
                    avsResult: "SM, ZD"
                    currency: USD
                    ipAddress: 192.168.0.1
                    token: TKN_01BMFGDTK30EYH9FWTXPYR50
                    statusDescription: Transaction settled
                    statusCode: settled
                    status: SETTLED
                    txnDate: 2020-02-24T19:43:12.730Z
                    updatedAt: 2020-02-24T19:43:12.730Z
                    createdAt: 2020-02-24T19:43:12.730Z
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Charge
  /v1/charge/{transaction_id}:
    get:
      tags:
      - Charge
      summary: Retrieve a Charge
      operationId: Retrive a Charge
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: transaction_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                  amount: "1.00"
                  apiKey: sk_01C043F2241X7WM7MTZKB5822N
                  authCode: A11111
                  adjustments:
                  - id: ADJ_01BBEBNMZ7VYYMADN9MJ3RDAJM
                    amount: "105.00"
                    tip: "1.00"
                    taxAmount: "5.00"
                    surchargeFeeAmount: "1.00"
                  avsMessage: "street match, zip decline"
                  avsResult: "SM, ZD"
                  cvvResult: M
                  currency: USD
                  cardBrand: Visa
                  cardType: Credit
                  expDate: string
                  ipAddress: 192.168.0.1
                  lastFour: "1000"
                  method: charge
                  order:
                    shipToZip: 11111-1111
                    shipFromZip: 99999-9999
                    items:
                    - discountAmount: "9.00"
                      unitCost: "2.00"
                      unitOfMeasure: CS
                      lineNumber: "1"
                      description: DESCRIPTION-1
                      taxAmount: "109.00"
                      quantity: "1000"
                      upc: UPC-1
                      lineTotal: "2000.00"
                      taxExempt: true
                      taxRate: "0.025"
                  refunds:
                  - id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                    amount: "1.00"
                    apiKey: sk_01C043F2241X7WM7MTZKB5822N
                    authCode: A11111
                    currency: USD
                    cardBrand: Visa
                    cardType: Credit
                    metadata:
                      customOption: example
                    ipAddress: 192.168.0.1
                    lastFour: "1000"
                    method: refund
                    status: REFUNDED
                    statusCode: refunded
                    statusDescription: Transaction refund success
                    token: TKN_01BMFGDTK30EYH9FWTXPYR50
                    txnDate: 2022-01-06T09:22:31Z
                    updatedAt: 2017-12-15T19:08:18.262Z
                    createdAt: 2017-12-15T19:08:18.262Z
                  status: AUTHORIZED
                  statusCode: approved
                  statusDescription: Transaction approved
                  surchargeFeeAmount: "1.00"
                  token: TKN_01BMFGDTK30EYH9FWTXPYR50
                  tip: "1.00"
                  txnDate: 2022-01-06T09:22:31Z
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Charge
  /v1/adjustment:
    post:
      tags:
      - Adjustments
      summary: Create an Adjustment
      description: Adjustment only apply to CREDIT_CARD transactions
      operationId: ' Create an Adjustment'
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_adjustment_body'
            example:
              amount: "105.00"
              tip: "1.00"
              taxAmount: "5.00"
              surchargeFeeAmount: "1.00"
              txnID: TR_01FX76SMC061SE218767FAWAQR
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adjustments_1'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Adjustments
  /v1/capture:
    get:
      tags:
      - Captures
      summary: List Captures
      operationId: List Captures
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charges'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Captures
    post:
      tags:
      - Captures
      summary: Create a Capture
      operationId: POST_v1-capture
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_capture_body'
            example:
              amount: "105.00"
              surchargeFeeAmount: "1.00"
              taxAmount: "1.00"
              tip: "1.00"
              order:
                shipToZip: 11111-1111
                shipFromZip: 99999-9999
                items:
                - discountAmount: "20.00"
                  unitCost: "10.00"
                  unitOfMeasure: CS
                  lineNumber: "1"
                  description: DESCRIPTION-1
                  taxAmount: "5.00"
                  quantity: "12"
                  upc: UPC-1
                  lineTotal: "105.00"
                  taxExempt: false
                  taxRate: "0.05"
              idempotencyKey: 7c62e63ab7fb6d10166b70945dc48b52
              txnID: TR_01FX9WKYNR7NJAKYBFD2TGGWW8
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Captures'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Captures
  /v1/capture/{transaction_id}:
    get:
      tags:
      - Captures
      summary: Retrieve a Capture
      operationId: Retrieve a Capture
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: transaction_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                  batch: BCH_01BJE0H947B53D3JRRSJ4W6R9T
                  amount: "1.00"
                  apiKey: sk_01C043F2241X7WM7MTZKB5822N
                  authCode: A11111
                  avsMessage: street match
                  currency: USD
                  cardBrand: Visa
                  cardType: Credit
                  ipAddress: 192.168.0.1
                  lastFour: "1000"
                  method: charge
                  order:
                    shipToZip: 11111-1111
                    shipFromZip: 99999-9999
                    items:
                    - discountAmount: "9.00"
                      unitCost: "2.00"
                      unitOfMeasure: CS
                      lineNumber: "1"
                      description: DESCRIPTION-1
                      taxAmount: "109.00"
                      quantity: "1000"
                      upc: UPC-1
                      lineTotal: "2000.00"
                      taxExempt: true
                      taxRate: "0.025"
                  status: CAPTURED
                  statusCode: captured
                  statusDescription: Transaction capture success
                  surchargeFeeAmount: "1.00"
                  token: TKN_01BMFGDTK30EYH9FWTXPYR50
                  tip: "1.00"
                  txnDate: 2022-01-06T09:22:31Z
                  taxAmount: "1.00"
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Captures
  /v1/void:
    get:
      tags:
      - Voids
      summary: List Voids
      operationId: List Voids
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                  - id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                    amount: "1.00"
                    apiKey: sk_01C043F2241X7WM7MTZKB5822N
                    authCode: A11111
                    currency: USD
                    cardBrand: Visa
                    cardType: Credit
                    ipAddress: 192.168.0.1
                    lastFour: "1000"
                    method: charge
                    status: VOIDED
                    statusCode: voided
                    statusDescription: Transaction void success
                    token: TKN_01BMFGDTK30EYH9FWTXPYR50
                    txnDate: 2022-02-02T05:05:45Z
                    updatedAt: 2017-12-15T19:08:18.262Z
                    createdAt: 2017-12-15T19:08:18.262Z
                  pagination:
                    count: 10
                    page: 1
                    pages: 2
                    size: 19
                  total: 0
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Voids
    post:
      tags:
      - Voids
      summary: Create a Void
      operationId: Create a void
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                idempotencyKey: 7c62e63ab7fb6d10166b70945dc48b52
                txnID: TR_01FX9Y6J6D5Q0VRBQBSBPQM5AZ
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voids'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Voids
  /v1/void/{transaction_id}:
    get:
      tags:
      - Voids
      summary: Retrieve a Void
      operationId: Retrive a Void
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: transaction_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                  amount: "1.00"
                  apiKey: sk_01C043F2241X7WM7MTZKB5822N
                  authCode: A11111
                  currency: USD
                  cardBrand: Visa
                  cardType: Credit
                  ipAddress: 192.168.0.1
                  lastFour: "1000"
                  method: charge
                  status: VOIDED
                  statusCode: voided
                  statusDescription: Transaction void success
                  token: TKN_01BMFGDTK30EYH9FWTXPYR50
                  txnDate: 2022-02-02T05:05:45Z
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Voids
  /v1/refund:
    get:
      tags:
      - Refunds
      summary: List Refunds
      operationId: ' List Refunds'
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                  - id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                    amount: "1.00"
                    apiKey: sk_01C043F2241X7WM7MTZKB5822N
                    authCode: A11111
                    currency: USD
                    cardBrand: Visa
                    cardType: Credit
                    metadata:
                      customOption: example
                    ipAddress: 192.168.0.1
                    lastFour: "1000"
                    method: refund
                    status: REFUNDED
                    statusCode: refunded
                    statusDescription: Transaction refund success
                    token: TKN_01BMFGDTK30EYH9FWTXPYR50
                    txnDate: 2022-01-06T09:22:31Z
                    updatedAt: 2017-12-15T19:08:18.262Z
                    createdAt: 2017-12-15T19:08:18.262Z
                  pagination:
                    count: 10
                    page: 1
                    pages: 2
                    size: 19
                  total: 0
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Refunds
    post:
      tags:
      - Refunds
      summary: Create a Refund
      operationId: Create a Refund
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_refund_body'
            example:
              amount: "105.00"
              currency: USD
              idempotencyKey: 7c62e63ab7fb6d10166b70945dc48b52
              metadata:
                customOption: example
              txnID: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                  amount: "1.00"
                  apiKey: sk_01C043F2241X7WM7MTZKB5822N
                  authCode: A11111
                  currency: USD
                  cardBrand: Visa
                  cardType: Credit
                  metadata: "{\"customOption\":\"example\"}"
                  ipAddress: 192.168.0.1
                  lastFour: "1000"
                  method: refund
                  status: REFUNDED
                  statusCode: refunded
                  statusDescription: Transaction refund success
                  token: TKN_01BMFGDTK30EYH9FWTXPYR50
                  txnDate: 2022-01-06T09:22:31Z
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Refunds
  /v1/refund/{transaction_id}:
    get:
      tags:
      - Refunds
      summary: Retrieve a Refund
      operationId: ' Retrieve a Refund'
      parameters:
      - name: transaction_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: -transaction_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                  amount: "1.00"
                  apiKey: sk_01C043F2241X7WM7MTZKB5822N
                  authCode: A11111
                  currency: USD
                  cardBrand: Visa
                  cardType: Credit
                  metadata:
                    customOption: example
                  ipAddress: 192.168.0.1
                  lastFour: "1000"
                  method: refund
                  status: REFUNDED
                  statusCode: refunded
                  statusDescription: Transaction refund success
                  token: TKN_01BMFGDTK30EYH9FWTXPYR50
                  txnDate: 2022-01-06T09:22:31Z
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Refunds
    put:
      tags:
      - Refunds
      summary: Update a Refund
      operationId: ' Update a Refund'
      parameters:
      - name: transaction_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: transaction_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refund_transaction_id_body'
            example:
              metadata:
                customOption: example
              idempotencyKey: 7c62e63ab7fb6d10166b70945dc48b52
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                  amount: "1.00"
                  apiKey: sk_01C043F2241X7WM7MTZKB5822N
                  authCode: A11111
                  currency: USD
                  cardBrand: Visa
                  cardType: Credit
                  metadata:
                    customOption: example
                  ipAddress: 192.168.0.1
                  lastFour: "1000"
                  method: refund
                  status: REFUNDED
                  statusCode: refunded
                  statusDescription: Transaction refund success
                  token: TKN_01BMFGDTK30EYH9FWTXPYR50
                  txnDate: 2022-01-06T09:22:31Z
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Refunds
  /checkout-session:
    post:
      tags:
      - Checkout
      summary: Create a Checkout Session
      operationId: Create a Checkout Session
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                checkoutId: CHF_01CAQDPSAJ8H0BCAXVJFT87TQZ
                amount: "105.00"
                checkoutFields:
                  company: "Ledner, Toy and Roob"
                  billing_name: Luella King
                  billing_state: California
                  billing_city: Sofiabury
                  billing_address: 626 Maggie Divide
                  billing_address2: Apt. 441
                meta:
                  customField: customValue
                type: object
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: CHS_01DJNFZAA730Z5RM3YSKM2908V
                  checkoutId: CHF_01CAQDPSAJ8H0BCAXVJFT87TQZ
                  amount: "105.00"
                  checkoutFields:
                    company: "Ledner, Toy and Roob"
                    billing_name: Luella King
                    billing_state: California
                    billing_city: Sofiabury
                    billing_address: 626 Maggie Divide
                    billing_address2: Apt. 441
                  meta:
                    customField: customValue
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Checkout
  /v1/customers:
    get:
      tags:
      - Customers
      summary: List Customer
      operationId: List Customers
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                  - website: https://example.com
                    city: New York
                    name: Michael Smith
                    updatedAt: 2017-12-15T19:08:18.262Z
                    zip: "10010"
                    email: hello@seamlesspay.com
                    state: NY
                    country: USA
                    address2: 10th Fl
                    paymentMethods:
                    - name: Michael Smith
                      billingCountry: USA
                      routingNumber: "123456789"
                      email: hello@seamlesspay.com
                      billingAddress: 400 Madison Ave
                      txnType: CREDIT_CARD
                      billingZip: "10010"
                      billingCity: New York
                      billingAddress2: 10th Fl
                      token: TKN_01CBH0CKW6571SC337SWKSDCAE
                      lastFour: "4242"
                      billingState: NY
                      phone: "2125555000"
                      nickname: Visa card
                    id: CUS_01CR94R2JQR071FVF76XBGC3W4
                    companyName: ABC Business
                    createdAt: 2017-12-15T19:08:18.262Z
                    address: 400 Madison Ave
                    metadata:
                      customOption: example
                    phone: "2125555000"
                  pagination:
                    count: 10
                    page: 1
                    pages: 2
                    size: 19
                  total: 0
                x-content-type: application/json
        "201":
          description: ""
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Customers
    post:
      tags:
      - Customers
      summary: Create a Customer
      operationId: Create a Customer
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_customers_body'
            example:
              address: 400 Madison Ave
              address2: 10th Fl
              companyName: ABC Business
              city: New York
              country: USA
              email: hello@seamlesspay.com
              metadata: "{\"customOption\":\"example\"}"
              name: Michael Smith
              phone: "2125555000"
              paymentMethods:
              - nickname: Visa card
                token: TKN_01CBH0CKW6571SC337SWKSDCAE
              state: NY
              zip: "10010"
              website: https://example.com
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Customers
  /v1/customers/{customer_id}:
    get:
      tags:
      - Customers
      summary: Retrieve a Customer
      operationId: Retrieve a Customer
      parameters:
      - name: customer_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: CUS_01CR94R2JQR071FVF76XBGC3W4
                  address: 400 Madison Ave
                  address2: 10th Fl
                  companyName: ABC Business
                  city: New York
                  country: USA
                  email: hello@seamlesspay.com
                  metadata:
                    customOption: example
                  name: Michael Smith
                  phone: "2125555000"
                  paymentMethods:
                  - billingAddress: 400 Madison Ave
                    billingAddress2: 10th Fl
                    billingCity: New York
                    billingState: NY
                    billingZip: "10010"
                    billingCountry: USA
                    phone: "2125555000"
                    email: hello@seamlesspay.com
                    lastFour: "4242"
                    name: Michael Smith
                    nickname: Visa card
                    token: TKN_01CBH0CKW6571SC337SWKSDCAE
                    routingNumber: "123456789"
                    txnType: CREDIT_CARD
                  state: NY
                  zip: "10010"
                  website: https://example.com
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: CUS_01CR94R2JQR071FVF76XBGC3W4
                  address: 400 Madison Ave
                  address2: 10th Fl
                  companyName: ABC Business
                  city: New York
                  country: USA
                  email: hello@seamlesspay.com
                  metadata:
                    customOption: example
                  name: Michael Smith
                  phone: "2125555000"
                  paymentMethods:
                  - billingAddress: 400 Madison Ave
                    billingAddress2: 10th Fl
                    billingCity: New York
                    billingState: NY
                    billingZip: "10010"
                    billingCountry: USA
                    phone: "2125555000"
                    email: hello@seamlesspay.com
                    lastFour: "4242"
                    name: Michael Smith
                    nickname: Visa card
                    token: TKN_01CBH0CKW6571SC337SWKSDCAE
                    routingNumber: "123456789"
                    txnType: CREDIT_CARD
                  state: NY
                  zip: "10010"
                  website: https://example.com
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Customers
    put:
      tags:
      - Customers
      summary: Update a Customer
      operationId: Update a Customer
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: customer_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customers_customer_id_body'
            example:
              address: 400 Madison Ave
              address2: 10th Fl
              companyName: ABC Business
              city: New York
              country: USA
              email: hello@seamlesspay.com
              metadata:
                customOption: example
              name: Michael Smith
              phone: "2125555000"
              paymentMethods:
              - nickname: Visa card
                token: TKN_01CBH0CKW6571SC337SWKSDCAE
              state: NY
              zip: "10010"
              website: https://example.com
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: CUS_01CR94R2JQR071FVF76XBGC3W4
                  address: 400 Madison Ave
                  address2: 10th Fl
                  companyName: ABC Business
                  city: New York
                  country: USA
                  email: hello@seamlesspay.com
                  metadata:
                    customOption: example
                  name: Michael Smith
                  phone: "2125555000"
                  paymentMethods:
                  - billingAddress: 400 Madison Ave
                    billingAddress2: 10th Fl
                    billingCity: New York
                    billingState: NY
                    billingZip: "10010"
                    billingCountry: USA
                    phone: "2125555000"
                    email: hello@seamlesspay.com
                    lastFour: "4242"
                    name: Michael Smith
                    nickname: Visa card
                    token: TKN_01CBH0CKW6571SC337SWKSDCAE
                    routingNumber: "123456789"
                    txnType: CREDIT_CARD
                  state: NY
                  zip: "10010"
                  website: https://example.com
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Customers
  /v1/submerchants:
    get:
      tags:
      - Sub-Merchant
      summary: List Sub-Merchants
      description: Sub-Merchant
      operationId: List Sub-Merchants
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                  - id: SMT_01C5KKZEAM92FB2ZM3XJTKDEPP
                    subMID: "54648651"
                    masterMID: "32462476"
                    subMerchantEntityName: TEST
                    masterDescriptor: true
                    splitProgramID: SP_01BBC61NYHG6AR5T35D5Q1ZBFC
                    subMerchantEmail: test@test.com
                    updatedAt: 2017-12-15T19:08:18.262Z
                    createdAt: 2017-12-15T19:08:18.262Z
                  pagination:
                    count: 10
                    page: 1
                    pages: 2
                    size: 19
                  total: 0
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: SubMerchant
    post:
      tags:
      - Sub-Merchant
      summary: Create Sub-Merchant
      description: Sub-Merchant
      operationId: Create Sub-Merchant
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_submerchants_body'
            example:
              address1: 400 Madison Ave
              address2: 10th Fl
              businessName: "123"
              city: New York
              dateOfBirth: 1960-01-02
              DDAnumber: "0000000000"
              email: xyz@business.com
              firstName: Michael
              lastName: Smith
              phone: "2125555000"
              routingNumber: "123456789"
              splitProgram: SP_01BBC61NYHG6AR5T35D5Q1ZBFC
              ssn: "123457890"
              state: NY
              subMerchantEntityName: XYZ Business
              taxID: "271234567"
              zip: "10010"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubMerchant'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: SubMerchant
  /v1/submerchants/{submerchant_id}:
    get:
      tags:
      - Sub-Merchant
      summary: Retrieve Sub-Merchant
      description: Retrieve Sub-Merchant
      operationId: Retrieve Sub-Merchant
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: submerchant_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: SMT_01C5KKZEAM92FB2ZM3XJTKDEPP
                  subMID: "54648651"
                  masterMID: "32462476"
                  subMerchantEntityName: TEST
                  masterDescriptor: true
                  splitProgramID: SP_01BBC61NYHG6AR5T35D5Q1ZBFC
                  subMerchantEmail: test@test.com
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: SubMerchant
  /v1/webhooks-endpoints:
    post:
      tags:
      - Webhooks
      summary: Create Webhook
      description: Webhooks
      operationId: Create Webhook
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_webhooksendpoints_body'
            example:
              endpointType: ACCOUNT
              payloadUrl: https://www.example.com/webhook
              secret: "50991311"
              webhookSubscriptions:
              - event: created
                service: customers
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhooks'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Webhooks
  /v1/webhooks/{webhook_id}:
    get:
      tags:
      - Webhooks
      summary: Retrieve Webhook
      description: Retrieves the details of webhook
      operationId: Retrieve Webhook
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: webhook_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: WBE_01C56BV08MX9ACFFN84GQEKEGH
                  service: tickets
                  event: created
                  endpointID: WBH_01C569BBWRP1KSDDDN098Y3127
                  status: "200"
                  sentAttempts: 1
                  response:
                    success: true
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Webhooks
  /v1/webhooks-endpoints/{webhook_endpoint_id}:
    put:
      tags:
      - Webhooks
      summary: Update Webhook
      description: Update the details of webhook
      operationId: Update Webhook
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: webhook_endpoint_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhooksendpoints_webhook_endpoint_id_body'
            example:
              endpointType: ACCOUNT
              payloadUrl: https://www.example.com/webhook
              secret: "50991311"
              webhookSubscriptions:
              - event: created
                service: customers
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: WBH_01BBC61W87JS2JTF2A6SGTM50X
                  endpointType: ACCOUNT
                  payloadUrl: https://www.example.com/webhook
                  secret: "50991311"
                  webhookSubscriptions:
                  - id: WBS_01FFC61W87JS2JTF3A8SGTM70T
                    event: created
                    service: customers
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Webhooks
  /v1/webhooks:
    get:
      tags:
      - Webhook Events
      summary: List Webhook Events
      description: Retrieves all Webhook Events
      operationId: List Webhook Events
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                  - id: WBE_01C56BV08MX9ACFFN84GQEKEGH
                    service: tickets
                    event: created
                    endpointID: WBH_01C569BBWRP1KSDDDN098Y3127
                    status: "200"
                    sentAttempts: 1
                    response:
                      success: true
                    updatedAt: 2017-12-15T19:08:18.262Z
                    createdAt: 2017-12-15T19:08:18.262Z
                  pagination:
                    count: 10
                    page: 1
                    pages: 2
                    size: 19
                  total: 0
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: WebhookEvents
  /v1/close-batch:
    post:
      tags:
      - Batches
      summary: Close a Batch
      description: Close Batch manually
      operationId: Close a Batch
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_closebatch_body'
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batches'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Batches
  /v1/batches:
    get:
      tags:
      - Batches
      summary: List Batches
      description: Statistical data of batches
      operationId: List Batches
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                  - id: BCH_01BPH7PHBE8EHYAJRGGMN94DD5
                    autoBatchTime: 10:00
                    batchNumber: "70195401736"
                    batchStatus: BATCH_OPEN
                    merchantId: "11111111"
                    updatedAt: 2017-12-15T19:08:18.262Z
                    createdAt: 2017-12-15T19:08:18.262Z
                  pagination:
                    count: 10
                    page: 1
                    pages: 2
                    size: 19
                  total: 0
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Batches
    post:
      tags:
      - Batches
      summary: Create a Batch
      operationId: Create a Batch
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  batchID: BCH_01BPH7PHBE8EHYAJRGGMN94DD5
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Batches
  /v1/batches/{batch_id}:
    get:
      tags:
      - Batches
      summary: Retrieve Batch's Transactions
      operationId: Retrieve Batch's Transactions
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: batch_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                  - id: TR_01BBEBNMZ7VYYMADN8MJ4RDBJX
                    amount: "1.00"
                    apiKey: sk_01C043F2241X7WM7MTZKB5822N
                    authCode: A11111
                    avsMessage: "street match, zip decline"
                    avsResult: "SM, ZD"
                    cvvResult: M
                    currency: USD
                    cardBrand: Visa
                    cardType: Credit
                    ipAddress: 192.168.0.1
                    lastFour: "1000"
                    method: charge
                    status: AUTHORIZED
                    statusCode: approved
                    statusDescription: Transaction approved
                    surchargeFeeAmount: "1.00"
                    token: TKN_01BMFGDTK30EYH9FWTXPYR50
                    tip: string
                    txnDate: 2022-01-06T09:22:31Z
                    updatedAt: 2017-12-15T19:08:18.262Z
                    createdAt: 2017-12-15T19:08:18.262Z
                  pagination:
                    count: 10
                    page: 1
                    pages: 2
                    size: 19
                  total: 0
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Batches
  /v1/payouts:
    get:
      tags:
      - Payouts
      summary: List Payouts
      description: Statistical data of payouts
      operationId: ' List Payouts'
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payouts'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Payouts
  /v1/statements:
    get:
      tags:
      - Statements
      summary: List Statements
      description: Statistical data of statements
      operationId: ' List Statements'
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statements'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Statements
  /v1/pci-audit-info:
    get:
      tags:
      - PCI Audit
      summary: List PCI Audit
      description: Statistical data of PCI Audit
      operationId: List PCI Audit
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  assessor: Trustwave
                  companyName: ABC Business
                  complianceProgram: SAQ_AND_SCAN
                  customerID: "3425324"
                  dateAdded: 07/02/2014
                  dateRegistered: 08/27/2014
                  firstCertDate: 08/26/2014
                  lastLoginDate: 08/27/2014
                  merchantStatus: ACTIVE
                  merchantType: INET-PA
                  mostRecentSaqDate: 08/27/2014
                  mostRecentScanDate: 10/27/2016
                  pciExpiry: 08/26/2015
                  pciLevel: 4
                  pciStatus: EXPIRED
                  primaryMerchantID: "3544325243543232"
                  primaryPocEmail: email@merchant.com
                  primaryPocLastName: Gaon
                  saqExpiry: 08/26/2015
                  saqStatus: EXPIRED
                  saqType: SAQ_C
                  scanExpiry: 01/26/2017
                  scanStatus: PASS
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: PCIAudit
  /v1/irs-info:
    get:
      tags:
      - IRS Reporting
      summary: List IRS Reporting
      description: Statistical data of IRS Reporting
      operationId: List IRS Reporting
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IRSReporting'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  lastChangeDate: 03/02/2017
                  irsMatch: true
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: IRSReporting
  /v1/disputes:
    get:
      tags:
      - Disputes
      summary: List Disputes
      description: Statistical data of disputes
      operationId: List Disputes
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disputes'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Disputes
  /v1/retrievals:
    get:
      tags:
      - Retrievals
      summary: List Retrievals
      description: Retrieves all webhooks
      operationId: List Retrievals
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                  - id: RTL_01BBC61W87JS2JTF2A6SZWM33Y
                    amount: "105.00"
                    caseNumber: "34643"
                    lastFour: "6773"
                    merchantID: "2142314234231412"
                    retrievalCode: "6021"
                    retrievalDate: 01/16/2017
                    txnDate: 2020-02-24T19:43:12.730Z
                    txnID: 004-463436346543643643
                    updatedAt: 2017-12-15T19:08:18.262Z
                    createdAt: 2017-12-15T19:08:18.262Z
                  pagination:
                    count: 10
                    page: 1
                    pages: 2
                    size: 19
                  total: 0
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: Retrievals
  /v1/gift-card:
    post:
      tags:
      - Gift Cards
      summary: Create Gift Card
      description: Creates a new stored value account (gift card) for the merchant
        associated with API key passed with the request.
      operationId: Create Gift Card
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_giftcard_body'
            example:
              accountNumber: "1238990000000018"
              token: tok_gift_card
              amount: "105.00"
              idempotencyKey: 7c62e63ab7fb6d10166b70945dc48b52
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftCards'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: GiftCards
  /v1/gift-card/{accountNumber|token}:
    get:
      tags:
      - Gift Cards
      summary: Retrieve Gift Card
      description: For convenience we provide a dead simple endpoint for querying
        card information.
      operationId: Retrieve Gift Card
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: accountNumber|token
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  amount: "105.00"
                  lastFour: "0018"
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                  currency: USD
                  status: approved
                  statusDescription: Approval
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: GiftCards
    put:
      tags:
      - Gift Cards
      summary: Update Gift Card
      description: Adds value to card account for the merchant associated with API
        key passed with the request.
      operationId: Update Gift Card
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: accountNumber|token
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/giftcard_accountNumbertoken_body'
            example:
              amount: "105.00"
              idempotencyKey: 7c62e63ab7fb6d10166b70945dc48b52
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  amount: "105.00"
                  currency: USD
                  status: SETTLED
                  statusDescription: Transaction settled
                  txnMethod: refund
                  txnID: TXN_01BXA5RCMCMRES01JA2D6HE08H
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: Unprocessable
                  message: Validation error
                  code: 422
                  className: unprocessable
                  data:
                    statusCode: "110"
                    statusDescription: Validation error
                    errors:
                    - error
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: GiftCards
    delete:
      tags:
      - Gift Cards
      summary: Delete Gift Card
      description: Remove stored value account (gift card) for the merchant associated
        with API key passed with the request.
      operationId: ' Delete Gift Card'
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: accountNumber|token
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  lastFour: "0018"
                  updatedAt: 2017-12-15T19:08:18.262Z
                  createdAt: 2017-12-15T19:08:18.262Z
                x-content-type: application/json
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: GiftCards
  /v1/bin-lookup/{BIN}:
    get:
      tags:
      - BIN Lookup
      summary: BIN Lookups
      description: Retrieves the details of bin
      operationId: BIN Lookup
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: BIN
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINLookup'
        "401":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotAuthenticated
                  code: 401
                  className: not-authenticated
                  data:
                    statusCode: 401
                    statusDescription: Authentication failed
                    errors:
                    - null
                x-content-type: application/json
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  name: NotFound
                  message: Item not found.
                  code: 404
                  className: not-found
                x-content-type: application/json
      security:
      - BearerAuth: []
      x-swagger-router-controller: BINLookup
  /tokens:
    post:
      tags:
      - PAN Vault
      summary: Create Token
      description: Create the token of given payment data. Get token method require
        type of given object
      operationId: Create Token
      parameters:
      - name: API-Version
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              Credit_card:
                value:
                  billingAddress: 400 Madison Ave
                  billingAddress2: 10th Fl
                  billingCity: New York
[...]
